extends partials/layout.pug

block content
  .welcome
    .welcomeText
    h1 Welcome to Reddit Dew


    div this is an article, upvote or downvote
    //- button.btn.btn-default.btn-sm(type='button' value='Submit')
    //-   span.glyphicon.glyphicon-chevron-up
    //- button.btn.btn-default.btn-sm(type='button' value='Submit')
    //-   span.glyphicon.glyphicon-chevron-down
    .order-form__submit
      a.btn.glyphicon.glyphicon-chevron-up.btn-lg(href='/')
      a.btn.glyphicon.glyphicon-chevron-down.btn-lg(type='submit' value='Submit')
