extends partials/layout.pug

block content
  .heading
    h1
    h1 Login
    if msg
      h2= msg
  .contact-form
    form(method="POST")
      .form-group
        label(for='email') Email Address
        input.form-control#email(type='text' name='email' placeholder='')
      .form-group
        label(for='email') Password
        input.form-control#password(type='password' name='password' placeholder='*****************')
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Login')